# Database
DATABASE_URL=

# Solana Configuration
SOLANA_RPC_URL="https://api.devnet.solana.com"
DEFAULT_OWNER=

# Umbra Configuration
UMBRA_NETWORK="devnet"
UMBRA_INDEXER_API_ENDPOINT="https://utxo-indexer.api-devnet.umbraprivacy.com"
UMBRA_RPC_SUBSCRIPTIONS_URL=
UMBRA_PLATFORM_PRIVATE_KEY=
UMBRA_MINT_ADDRESS="4oG4sjmopf5MzvTHLE8rpVJ2uyczxfsw2K84SUTpNDx7"
UMBRA_MINT_SYMBOL="dUSDC"
UMBRA_MINT_DECIMALS="6"
UMBRA_TREE_INDEX="0"

# AI Model API Keys
OPENAI_API_KEY=
GROQ_API_KEY=
GOOGLE_API_KEY=
GOOGLE_API_KEY2=
